html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #201f1f;
    font-size: min(9vh, 5vw);

}
.progressbar{
    background-color: #F5A623;
    color: #FFF;
    font-size: 3vh;;
    font-weight: bold;
    padding: 2vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}


.containter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
button {
    font-size: 10vh;
    width: 80vw;
    height: 30vh;
    border: none;
    outline: none;
    color: #d9d6d6;
    font-weight: 100;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: min(20vh, 7vw);
    /* margin: 5vh auto; */
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


#datepicker {
    padding: 8px;
    font-size: 16px;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    width: 50vw;
    height: 10vh;
    font-size: 5vh;
    background-color: #111;
  }

#datepicker::-webkit-calendar-picker-indicator {
    background-color: floralwhite;
    border-radius: 1vw;
    cursor: pointer;
  }

#zipcode {
    padding: 8px;
    font-size: 16px;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    width: 50vw;
    height: 10vh;
    font-size: 5vh;
    background-color: #111;
  }
